.DS_Store
venv
checkpoints
jit_cache
__pycache__
runs
samples
local_train_dir
vae_mds
submit_*
*.out.*
.vscode/
hubert/pytorch_model.bin
configs/
test.wav
jax_cache/
configs/base.yaml
test_out.wav
vocoder/vocoder.msgpack
